.container {
    border: solid var(--text-primary) 1px;
    border-radius: 1rem;
    padding: 1rem;
    padding-right: 2.2rem;
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.detail {
    display: flex;
    justify-content: space-between;
    border-bottom: solid var(--text-primary) 1px;
}

.detail > h3 {
    font-weight: 700;
    font-size: 1rem;
    padding: 0.2rem;
}

.detail > a {
    color: rgb(187, 187, 255);
    text-decoration: none;
}

.detail > a:hover {
    text-decoration: underline;
}