*,
*::before,
*::after {
    box-sizing: border-box;
}

/* box-sizing: border-box: all border and padding are included inside an element's height and width
instead of adding to it like content-box

::before and ::after are pseudo elements that allows you to insert content before
or after an element's actual content using css

*/

* {
    margin: 0;
    padding: 0;
}

:root {
    /* Dark minimalist palette */
    --bg-primary: #1d1d1d;
    --bg-secondary: #333333; 
    --bg-tertiary: #c9c9c9;
    /* input fields, dropdowns, hover states on cards, secondary panels */

    --text-primary: #e5e5e5;
    --text-secondary: #a0a0a0;
    --text-muted: #666666;
    /* placeholder text, disabled state */

    --accent: #2e2e2e;
    --accent-dim: #868686;

    --gain: #297546;
    --loss: #b82727;

    --border: #2a2a2a;

    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

html, body {
    min-height: 100vh;
    background: var(--bg-primary);
    font-family: var(--font-family);
    color: var(--text-primary);
    /* color of text */
}
