.container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0 1rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* box-shadow: 10px 10px 0 0 red;
1. horizontal offset in pixels
2. vertical offset
3. blur in pixels
4. spread in pixels
*/
.container>h1 {
    font-weight: 700;
    margin: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.input {
    background-color: var(--bg-primary);
    max-width: 400px;
    width: 100%;
    border: none;
    border-radius: 1rem;
    outline: none;
    height: 50px;
    color: white;
    padding: 0 1rem;
    font-size: 1rem;
}

.input:hover {
    outline: solid white 1px;
}

.input:focus {
    outline: solid white 2px;
}

.input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--bg-primary) inset;
    -webkit-text-fill-color: white;
}

.loginBtn {
    max-width: 100px;
    width: 100%;
    height: 40px;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-size: .9rem;
    margin: 1rem 0.5rem;
}

.loginBtn:hover {
    background-color: var(--accent-dim);
    font-size: 1rem;
}

.registerTag {
    color: rgb(187, 187, 255);
    text-decoration: none;
    margin-left: 5px;
}

.registerTag:hover {
    text-decoration: underline;
}