.container {
    background-color: var(--bg-secondary);
    width: 100%;
    height: 80vh;
    position: relative;
}
.tooltip {
    position: absolute;
    padding: 8px 12px;
    background: var(--bg-primary);
    color: white;
    border-radius: 6px;
    font-size: 14px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 10;
    max-width: 200px;
}

.svg {
    width: 100%;
    height: 100%
}

