.container {
    margin-top: 2rem;
} 
.graphAboutContainer {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
}

.graphAboutContainer > * {
    min-width: 0;
}

@media (max-width: 1024px) {
    .graphAboutContainer {
        display: flex;
        flex-direction: column;
    }
}