.layout {
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (max-width: 768px) {
    .layout {
        padding: 0 1rem;
        padding-bottom: 60px;
    }

}