.searchBar {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emerging {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 2rem;
}

.summaryAndFormContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2.2rem;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 440px;
    width: 100%;
    padding: 1rem;
}

.form input,
.form select {
    max-width: 400px;
    width: 100%;
    height: 30px;
    background-color: var(--bg-secondary);
    border: none;
    outline: none;
    border-radius: 1rem;
    color: var(--text-primary);
    padding: 0.2rem .5rem;
}

.form input:hover,
.form select:hover {
    outline: solid var(--text-secondary) 1px;
}

.form input:focus {
    outline: solid var(--text-secondary) 1px;
}

.form button {
    border: none;
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin: 1.2rem 0;
    color: var(--accent);
    font-weight: lighter;
}

.form button:hover {
    cursor: pointer;
    background-color: var(--accent-dim);
}

@media (max-width: 900px) {
    .emerging {
        display: flex;
        flex-direction: column;
    }

    .summaryAndFormContainer {
        align-items: center;
        padding: 0;
    }
}