name: linting

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
    lint:
      runs-on: ubuntu-latest
      step:
        - uses: actions/checkout@v4
        - name: Install flake8
          run: pip install flake8
        - name: Run flake8
          run: flake 8 .
